* {margin:0;padding:0;box-sizing:border-box;}
ul,ol,li {list-style:none;}
a {text-decoration:none;}
body {
    background:#efefef;
}
table,th,td {
    border-collapse:collapse;
}
fieldset {
    border:none;
}
.hidden {
    position:absolute;
    top:-100000px;
    opacity:0;
}