.scroll_navi {
    position:fixed;top:50%;
    transform:translateY(-50%);
    right:50px;
    z-index:5;

    li {
        width:10px;height:10px;
        border:1px solid #111;
        background:#fff;
        margin:20px;cursor:pointer;
        transition:.5s;
        &.on {
            height:100px;background:#111;
            border:#fff; 
        }
    }
}