#pics {
    width:100%;height:100vh;
    background:#c6fcff;
    position:relative;
    padding:10vw;
    overflow:hidden;
    display:flex;
    align-content:center;
    flex-wrap: wrap;

    p {
        font:bold 200px/1 'arial';
        color:rgba(0,0,0,.3);
        position:absolute;
        left:100px;
        top:100px;
    }
    
    h3 {
        font:bold 160px/1 'arial';
        color:#fff;
        position:absolute;
        top:160px;
        left:100px;
        text-shadow:20px 20px 50px rgba(0,0,0,.4);
    }
    ul {
        width:100%;
        display:flex;
        flex-wrap: wrap;
        gap:50px;
        justify-content: center;
    }
}